<div class="container p-4">
    <div class="row">
        <div class="col">
            <img src="/img/logo.png">
        </div>
        <div class="col" id="presentation">
            <h2>¿Quiénes somos?</h2>
            <p class="presentation">Nosotros somos CELILAC, un grupo de personas jóvenes con diferentes alergias e intolerancias a las que
                les gusta cocinar de manera saludable y que respeta estas intolerancias.</p>
                <p class="presentation">De repente, un día, nos dimos cuenta de que la comida que nos gustaba no nos sentaba bien, nos hinchaba,
                nos hacía enfermar e incluso cosas peores.
                Entonces es cuando tu estilo de vida cambia, ya no puedes comer lo que quieras, donde quieras, empiezas
                a mirar los ingredientes de los productos que comes, te preparas tus comidas, pruebas cocinando, etc. Y
                vimos la cantidad de tiempo que pasábamos en internet buscando diferentes recetas, videos, elaboración,
                alimentos, sitios donde comer, etc.</p>
                <p class="presentation">Aquí es cuando nace CELILAC, la mayoría de recetas para intolerantes/celíacos en las páginas o
                aplicaciones ocupan un porcentaje muy pequeño y además están dispersas por todas partes, sin embargo,
                cada año nacen o aparecen más personas con estas alergias o intolerancias.
                En la mayor parte de supermercados, si no en todos, tenemos un espacio para nosotras/os, ¿por qué no
                tenerlo también en internet, o en el móvil?, tan accesible como cuando compras leche sin lactosa en el
                supermercado.</p>
                <p class="presentation">Todo en un mismo sitio, y accesible, sin tener que perder horas, donde te salgan recomendaciones, qué
                comer, dónde comprar, lugares que respetan estas intolerancias y además también un sitio donde este
                grupo de personas comprometido y joven pueda vender este producto y que te llegue a ti sin ningún tipo
                problema.</p>
        </div>
    </div>
</div>