<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/icono.png" width="45" height="45">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/authentication/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authentication/logout">Cerrar sesión</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/authentication/signin">Iniciar sesión</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/recipes">Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stores">Sitios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>